<div class="wrapper">
    <div class="login-container">
        <div class="title">
            <strong>
                <h1 class="text-animation">Administrador</h1>
            </strong>
        </div>
        <div class="ms-button">
            <button type="button" tabindex="-1" (click)="onLogin()" >
                <img src="assets/images/ms-logo.png">
                <span>Sign in with Microsoft</span>
            </button>
        </div>
    </div>

    <p class="watermark">Developed by Core-Voice Team - WebHelp - 2022</p>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>