<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
<h1>Lorem, ipsum dolor.</h1>
<hr>
<h2>Lorem, ipsum dolor.</h2>
<hr>
<h3>Lorem, ipsum dolor.</h3>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, perspiciatis. Fugiat enim aliquid voluptate nulla tempora nostrum explicabo, blanditiis dolor ex minus excepturi corporis inventore temporibus maiores non. Voluptate dolorum nihil aut dolores ratione, voluptatum ad itaque ipsam enim nemo.</p>
<br>
<strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, perspiciatis. Fugiat enim aliquid voluptate nulla tempora nostrum explicabo, blanditiis dolor ex minus excepturi corporis inventore temporibus maiores non. Voluptate dolorum nihil aut dolores ratione, voluptatum ad itaque ipsam enim nemo.</strong>
<br>
<small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, perspiciatis. Fugiat enim aliquid voluptate nulla tempora nostrum explicabo, blanditiis dolor ex minus excepturi corporis inventore temporibus maiores non. Voluptate dolorum nihil aut dolores ratione, voluptatum ad itaque ipsam enim nemo.</small>
   
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-action" >Button</button>
</div>

